<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.FlowerSystemMapper">
  <resultMap id="BaseResultMap" type="com.zx.domain.FlowerSystem">
    <!--@mbg.generated-->
    <!--@Table flower_system-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="price" property="price" />
    <result column="production" property="production" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, price, production
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from flower_system
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from flower_system
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zx.domain.FlowerSystem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into flower_system (`name`, price, production)
    values (#{name}, #{price}, #{production})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zx.domain.FlowerSystem" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into flower_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="production != null">
        production,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name},
      </if>
      <if test="price != null">
        #{price},
      </if>
      <if test="production != null">
        #{production},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.domain.FlowerSystem">
    <!--@mbg.generated-->
    update flower_system
    <set>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="production != null">
        production = #{production},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.domain.FlowerSystem">
    <!--@mbg.generated-->
    update flower_system
    set `name` = #{name},
      price = #{price},
      production = #{production}
    where id = #{id}
  </update>
</mapper>